@font-face {
  font-family: "iconfont"; /* Project id 3655463 */
  src: url('iconfont.woff2?t=1664694370020') format('woff2'),
       url('iconfont.woff?t=1664694370020') format('woff'),
       url('iconfont.ttf?t=1664694370020') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chahao:before {
  content: "\e607";
}

.icon-icon-test:before {
  content: "\e636";
}

.icon-caidan:before {
  content: "\e639";
}

.icon-biaoqian:before {
  content: "\e65b";
}

.icon-weixin2:before {
  content: "\e6b3";
}

.icon-gonggao:before {
  content: "\e611";
}

.icon-csdn1:before {
  content: "\e638";
}

.icon-24gl-tags3:before {
  content: "\e87d";
}

.icon-gonggao1:before {
  content: "\e673";
}

.icon-dingbu:before {
  content: "\e61f";
}

.icon-liuyan:before {
  content: "\e744";
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-liuyan1:before {
  content: "\e614";
}

.icon-keaide:before {
  content: "\e600";
}

.icon-xiangshang:before {
  content: "\e601";
}

.icon-xiangxia:before {
  content: "\e602";
}

.icon-xiai:before {
  content: "\e603";
}

.icon-weixin:before {
  content: "\e604";
}

.icon-lianjie:before {
  content: "\e605";
}

.icon-liuyanfill:before {
  content: "\e743";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-xiangzuo1:before {
  content: "\e779";
}

.icon-shijian:before {
  content: "\e665";
}

.icon-shouyefill:before {
  content: "\e6ca";
}

.icon-fanhui:before {
  content: "\e6ff";
}

.icon-icon:before {
  content: "\e66c";
}

.icon-csdn:before {
  content: "\e60a";
}

.icon-weixin1:before {
  content: "\e637";
}

.icon-jibiji:before {
  content: "\e609";
}

.icon-shoucangjia:before {
  content: "\e672";
}

.icon-icon-eye-open:before {
  content: "\e60c";
}

.icon-biyanjing:before {
  content: "\e901";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-QQ-circle-fill:before {
  content: "\e887";
}

.icon-shenghuofuwu:before {
  content: "\e783";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-guanyu:before {
  content: "\e606";
}

.icon-B-liuyan:before {
  content: "\e729";
}

.icon-24gl-playlistMusic2:before {
  content: "\ea71";
}

.icon-shezhi:before {
  content: "\e630";
}

.icon-yanjing-zhengyan:before {
  content: "\e63a";
}

.icon-16:before {
  content: "\e61e";
}

.icon-w_liuyan:before {
  content: "\e66e";
}

.icon-fanhui1:before {
  content: "\e623";
}

.icon-guanyu1:before {
  content: "\e631";
}

.icon-fenlei:before {
  content: "\e6a7";
}

.icon-shezhi1:before {
  content: "\e86c";
}

.icon-bijijilu:before {
  content: "\e6f3";
}

.icon-guanyu2:before {
  content: "\e6bd";
}

.icon-a-icon_jiandaojianqie:before {
  content: "\e650";
}

.icon-aixin:before {
  content: "\e65d";
}

